<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>{block name="title"}{/block}</title>

    {css href="__static__/css/pintuer.css" /}
    {css href="__static__/css/admin.css" /}
    {block name="css"}
    <style>
        .pagination li{border: none;}
    </style>
    {/block}
    {js href="__static__/js/jquery.js" /}
    {js href="__plugin__/layer/layer.js" /}
    {js href="__static__/js/pintuer.js" /}

    {block name="js"}
    <script src="__static__/js/laydate/laydate.js"></script>
    {/block}
</head>
<body>
{block name="content"}
         sdfsdfsdf
{/block}
</body>
</html>