			<!--ÃèÊö£ºµ×²¿-->
			<div id="footer" style="background:#34352c url({$yf_theme_path}public/images/bg_new_year_footer.jpg) center top no-repeat; padding-top:5px;">

				<div class="inner">
					
					<div class="footer_top">

						<div class="footer_top_column column2">
							<img class="qr_code_icon" src="{$site_qrcode|get_imgurl}" width="96" height="96" alt="">
						</div>
						<div class="footer_top_column column1">
							<div class="footer_copy_right" >
								<a id="footer_logo" title="">
						<img style="width: auto;  height: 70px;" src="{$site_logo|get_imgurl}" alt="">
					</a>
							</div>
							<div class="footer_adsdress" style="padding: 0 0 4px 30px;    background: url({$yf_theme_path}public/images/vfx_address_icon.png) left top no-repeat;">
								<ul>
									<li>{$site_address}</li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="footer_bottom" style="max-width:500px;margin:0 auto;">
						{$site_copyright}
					</div>
				</div>
			</div>