
							<div class="friendly_links">
								<div class="inner">
									<div class="leftsearch" style="  width: 150px; background: rgba(29, 29, 29, 0.8);">
										<div class="sidebar_button">
											<a href="http://trader.gannetchina.com/register" target="_blank" class="link_open_account" style=" background: #bf1e2e; "><span id="live4"></span></a>
											<a href="http://trader.gannetchina.com/registerMock" target="_blank" class="link_trial_demo" style="background: #a961d2;"><span id="demo4"></span></a>
										</div>
									</div>
								</div>
							</div>