<div class=" footer" cpid="4780" id="smv_Area3" style="width: 1000px; height: 373px; position: relative; margin: 0 auto;">
    <div id="smv_tem_44_31" ctype="banner" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item0" areaid="Area3" iscontainer="True" pvid="" tareaid="Area3" re-direction="y" daxis="Y" isdeletable="True" style="height: 311px; width: 100%; left: 0px; top: 59px;z-index:0;"><div class="yibuFrameContent tem_44_31  banner_Style1  " style="overflow:visible;;"><div class="fullcolumn-inner smAreaC" id="smc_Area0" cid="tem_44_31" style="width: 1000px;">
        <div id="smv_tem_53_29" ctype="text" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item3" areaid="Area0" iscontainer="False" pvid="tem_44_31" tareaid="Area3" re-direction="all" daxis="All" isdeletable="True" style="height: 48px; width: 1095px; left: 6px; top: 20px;z-index:14;"><div class="yibuFrameContent tem_53_29  text_Style1  " style="overflow:hidden;;"><div id="txt_tem_53_29" style="height: 100%;">
            <div class="editableContent" id="txtc_tem_53_29" style="height: 100%; word-wrap:break-word;">
                <p style="text-align:center">
                    <span style="font-size:16px">
                        <span style="font-family:&quot;Microsoft YaHei&quot;">
                        <a href="/"><span style="color:#7f8c8d">首页</span></a>
                        <span style="color:#7f8c8d"> &nbsp; &nbsp; &nbsp;</span>
                        <a href="{:url('home/index/company_info')}"><span style="color:#7f8c8d">公司介绍</span></a>
                        <span style="color:#7f8c8d"> &nbsp; &nbsp; &nbsp;</span>
                        <a href="{:url('home/index/product')}"><span style="color:#7f8c8d">产品服务</span></a>
                        <span style="color:#7f8c8d">&nbsp; &nbsp; &nbsp;</span>
                        <a href="{:url('home/index/download')}"><span style="color:#7f8c8d">软件下载</span></a>
                        <span style="color:#7f8c8d">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                        <a href="{:url('home/index/about')}"><span style="color:#7f8c8d">联系我们 </span></a>
                        <span style="color:#7f8c8d">&nbsp; &nbsp;</span><span style="color:#2980b9">&nbsp;</span>
                    </span>
                    </span>
                </p>

            </div>
        </div>
        </div></div><div id="smv_tem_42_15" ctype="line" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item0" areaid="Area0" iscontainer="False" pvid="tem_44_31" tareaid="Area3" re-direction="x" daxis="All" isdeletable="True" style="height: 20px; width: 1396px; left: -196px; top: 52px;z-index:12;"><div class="yibuFrameContent tem_42_15  line_Style1  " style="overflow:visible;;"><!-- w-line -->
        <div style="position:relative; height:100%">
            <div class="w-line" style="position:absolute;top:50%;" linetype="horizontal"></div>
        </div>
    </div></div><div id="smv_tem_43_51" ctype="text" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item1" areaid="Area0" iscontainer="False" pvid="tem_44_31" tareaid="Area3" re-direction="all" daxis="All" isdeletable="True" style="height: 110px; width: 1095px; left: -47px; top: 58px;z-index:13;"><div class="yibuFrameContent tem_43_51  text_Style1  " style="overflow:hidden;;"><div id="txt_tem_43_51" style="height: 100%;">
        <div class="editableContent" id="txtc_tem_43_51" style="height: 100%; word-wrap:break-word;">
            <p style="text-align:center">&nbsp;</p>

            <p style="text-align:center"><span style="line-height:1.5"><span style="color:#999999">&nbsp; &nbsp; &nbsp;&nbsp;<span style="font-size:14px">免责声明</span></span></span></p>

            <p style="text-align:center">&nbsp;</p>

            <p style="text-align:center"><span style="line-height:1.5"><span style="color:#999999"><span style="font-size:14px">逸信国际平台软件方，仅对外提供官方信息发布和平台技术支持服务。在此郑重提醒：客户须妥善保管交易账户和密码，切勿交付他人管理或交易；客户应知悉任何机构或个人针对交易的任何获利保证或不发生亏损的承诺均为虚假承诺；逸信国际不对外提供代客操盘，客户应自行作出具体交易决定，并对其交易行为负责。如因以上行为引起的责任和经济损失，与交易平台无关。</span></span></span></p>

            <p style="text-align:center">&nbsp;</p>

            <p style="text-align:center">&nbsp;</p>

            <p style="text-align:center">&nbsp;</p>

        </div>
    </div>
    </div></div><div id="smv_tem_55_17" ctype="text" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item4" areaid="Area0" iscontainer="False" pvid="tem_44_31" tareaid="Area3" re-direction="all" daxis="All" isdeletable="True" style="height: 32px; width: 507px; left: 250px; top: 261px;z-index:15;"><div class="yibuFrameContent tem_55_17  text_Style1  " style="overflow:hidden;;"><div id="txt_tem_55_17" style="height: 100%;">
        <div class="editableContent" id="txtc_tem_55_17" style="height: 100%; word-wrap:break-word;">
            <p><span style="font-size:14px"><span style="color:#95a5a6">版权所有：逸信国际 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><a href="//www.miitbeian.gov.cn"><span style="color:#95a5a6">豫ICP备：17046234号</span></a></span></p>

        </div>
    </div>
    </div></div><div id="smv_tem_56_39" ctype="image" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item0" areaid="Area0" iscontainer="False" pvid="tem_44_31" tareaid="Area3" re-direction="all" daxis="All" isdeletable="True" style="height: 48px; width: 131px; left: 276px; top: 188px;z-index:16;"><div class="yibuFrameContent tem_56_39  image_Style1  " style="overflow:visible;;">
        <div class="w-image-box" data-filltype="2" id="div_tem_56_39" style="width: 131px; height: 48px;">
            <a target="_self" style="width: 100%; height: 100%;">
                <img src="/public/static/home/img/514505.png" alt="f_img1" title="f_img1" id="img_smv_tem_56_39" style="width: 131px; height:48px;">
            </a>
        </div>

        <script type="text/javascript">
            $(function () {
                InitImageSmv("tem_56_39", "131", "48", "2");
            });
        </script>

    </div></div><div id="smv_tem_57_21" ctype="image" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item0" areaid="Area0" iscontainer="False" pvid="tem_44_31" tareaid="Area3" re-direction="all" daxis="All" isdeletable="True" style="height: 47px; width: 130px; left: 449px; top: 187px;z-index:17;"><div class="yibuFrameContent tem_57_21  image_Style1  " style="overflow:visible;;">
        <div class="w-image-box" data-filltype="2" id="div_tem_57_21" style="width: 130px; height: 47px;">
            <a target="_self" style="width: 100%; height: 100%;">
                <img src="/public/static/home/img/514514.png" alt="f_img2" title="f_img2" id="img_smv_tem_57_21" style="width: 130px; height:47px;">
            </a>
        </div>

        <script type="text/javascript">
            $(function () {
                InitImageSmv("tem_57_21", "130", "47", "2");
            });
        </script>

    </div></div><div id="smv_tem_58_39" ctype="image" class="esmartMargin smartAbs " cpid="4780" cstyle="Style1" ccolor="Item0" areaid="Area0" iscontainer="False" pvid="tem_44_31" tareaid="Area3" re-direction="all" daxis="All" isdeletable="True" style="height: 48px; width: 129px; left: 618px; top: 186px;z-index:18;"><div class="yibuFrameContent tem_58_39  image_Style1  " style="overflow:visible;;">
        <div class="w-image-box" data-filltype="2" id="div_tem_58_39" style="width: 129px; height: 48px;">
            <a target="_self" style="width: 100%; height: 100%;">
                <img src="/public/static/home/img/514522.png" alt="f_img3" title="f_img3" id="img_smv_tem_58_39" style="width: 129px; height:48px;">
            </a>
        </div>

        <script type="text/javascript">
            $(function () {
                InitImageSmv("tem_58_39", "129", "48", "2");
            });
        </script>

    </div></div></div>
        <div id="bannerWrap_tem_44_31" class="fullcolumn-outer" style="position: absolute; top: 0px; bottom: 0px; left: -132.5px; width: 1265px;">
        </div>

        <script type="text/javascript">

            $(function () {
                var resize = function () {
                    $("#smv_tem_44_31 >.yibuFrameContent>.fullcolumn-inner").width($("#smv_tem_44_31").parent().width());
                    $('#bannerWrap_tem_44_31').fullScreen(function (t) {
                        if (VisitFromMobile()) {
                            t.css("min-width", t.parent().width())
                        }
                    });
                }
                $(window).resize(function (e) {
                    if (e.target == this) {
                        resize();
                    }
                });
                resize();
            });
        </script>
    </div></div>
</div>