<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>逸信国际-软件下载</title>
  <link rel="stylesheet" href="__static__/css/style.css">
  <link rel="stylesheet" href="__static__/css/animation.css">
</head>
<body>
  <!-- 头部 -->
  {include file="theme/mobile_view/template/public/header.html"}
  <!-- banner -->
  <div class="seat">
    <div class="text">软件下载</div>
    <img src="__static__/img/seat.jpg" alt="">
  </div>
  <div class="rjxz">
    <a class="android" href="http://120.26.45.94/mobile/jhj/xtrader-droid-latest.apk">
      <i class="iconfont">&#xe67a;</i></br>
      <span>安卓下载</span>
    </a>
    <a class="ios" href="https://fir.im/fjl7">
      <i class="iconfont">&#xe678;</i></br>
      <span>Ios下载</span>
    </a>
  </div>

  {include file="theme/mobile_view/template/public/footer.html"}
  <div class="pop-bj"></div>
  <script src="__static__/js/lp.js"></script>
</body>
</html>
