{volist name="list" id="jun"}
<tr>
    <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="{$jun.id}" />{$jun.id}</td>
    <td data-user-id="{$jun.user_id|default='undefined'}">{$jun.user_mobile}</td>
    <td>{$jun.investment}</td>
    <td data-plat-id="{$jun.plat_id|default='undefined'}"><font color="#00CC99">{$jun.plat_name}</font></td>
    <td width="20%" data-business-id="{$jun.plat_business_id|default='undefined'}"><p>{$jun.content}</p></td>
    <td>{$jun.invest_time}</td>
    <td>{$jun.check_tag}</td>
    <td >
        {switch name="$jun.status"}
        {case value="1"}<span style="color:#00CC99">审核通过</span>{/case}
        {case value="0"}<span>未审核</span>{/case}
        {case value="-1"}<span style="color:red">审核失败</span>{/case}
        {default /}状态异常！
        {/switch}
    </td>
    <td data-admin-id="{$jun.admin_id|default='undefined'}">{$jun.admin_name}</td>
    <td><input type="text"  value="{$jun.award}" style="width:50px; text-align:center; border:1px solid #ddd; padding:7px 0;"  disabled="disabled"/></td>
    <td>
        <div class="button-group">
            {switch name="$jun.status"}
            {case value="1"} <p class="button border-green" style="cursor:pointer" onclick="check(this)">通过</p>{/case}
            {case value="0"} <a class="button border-main" href="javascript:void(0)" onclick="check(this)" style="cursor:pointer"><span class="icon-edit"></span>审核</a>{/case}
            {case value="-1"} <p class="button border-red" href="javascript:void(0)">不通过</p>{/case}
            {default /}状态异常！
            {/switch}
            {eq name="$jun.status" value="0"}
            <a class="button border-red" href="javascript:void(0)" onclick="return check_false(this,{$jun.id})"><span class="icon-trash-o"></span>拒绝</a>
            {/eq}
        </div>
    </td>
</tr>
{/volist}