{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">
		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					修改文章
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm2" name="form0" method="post" action="{:url('admin/LearnList/news_runedit')}"  enctype="multipart/form-data">
					<input type="hidden" name="n_id" id="n_id" value="{$news_list.n_id}" />

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章所属主栏目： </label>
						<div class="col-sm-10">
							<select  class="col-sm-3 "  id="news_columnid" disabled>
								<option value="">请选择所属栏目</option>
								{foreach name="menu" item="vo"}
									<option value="{$vo.id}"  {if condition="$vo.id eq $news_list['news_columnid']"} selected {/if} {if condition="$vo.menu_type eq 1"} class="bgccc"{else/}class="bgc"{/if}>{$vo.lefthtml}{$vo.menu_name}({if condition="$vo.menu_l eq 'zh-cn'"}中{else /}英{/if}) {if condition="$vo.menu_type eq 1"}(频道页){/if}</option>
								{/foreach}
							</select>
							<input type="hidden" name="news_columnid" value="{$news_list['news_columnid']}">
						</div>
					</div>
					{if !empty($menucat)}
					<div class="form-group" id="vicectrl" style="">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章所属类目： </label>
						<div class="col-sm-10">
							<select name="news_columnviceid"  class="col-sm-3 " id="news_columnviceid" required>
								<option value="">请选择所属类目</option>
								{foreach name="menucat" item="vm"}
									<option value="{$vm.id}"  {if condition="$vm.id eq $news_list['news_columnviceid']"}selected{/if}>{$vm.menu_name} </option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div>
                               {/if}
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章所属语言： </label>
						<div class="col-sm-10">
							<select name="news_l"  class="col-sm-3 selector" required>
								<option value="zh-cn" {if condition="$news_list['news_l'] eq 'zh-cn'"} selected {/if}>中文</option>
								<option value="en-us" {if condition="$news_list['news_l'] eq 'en-us'"} selected {/if}>英文</option>
							</select>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章名称：  </label>
						<div class="col-sm-10">
							<input type="text" name="news_title" id="news_title"  value="{$news_list.news_title}"   class="col-xs-10 col-sm-6" required/>
							<input type="text" name="news_titleshort" id="news_titleshort"  value="{$news_list.news_titleshort}" placeholder="简短标题，建议6~12字数" class="col-xs-10 col-sm-4" style="margin-left:10px;" />
                                            <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="resone"></span>
											</span>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章关键字：  </label>
						<div class="col-sm-10">
							<input type="text" name="news_key" id="news_key"  value="{$news_list.news_key}"  placeholder="输入文章关键字，以英文,逗号隔开" class="col-xs-10 col-sm-6" />
						</div>
					</div>
					<div class="space-4"></div>
					<input type="hidden" name="news_source" id="news_source"  value="{$site_name}"  />
					
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 封面图片上传： </label>
						<div class="col-sm-10">
							<input type="hidden" name="checkpic" id="checkpic" value="{$news_list.news_img}" />
							<input type="hidden" name="oldcheckpic" id="oldcheckpic" value="{$news_list.news_img}" />
							<a href="javascript:;" class="file" title="点击选择所要上传的图片">
								<input type="file" name="pic_one[]" id="file0" multiple="multiple"/>
								选择上传文件
							</a>
							<span class="lbl">&nbsp;&nbsp;<img src="{$news_list.news_img|get_imgurl}" width="100" height="70" id="img0" ></span>&nbsp;&nbsp;<a href="javascript:;" onclick="return backpic('{$news_list.news_img|get_imgurl}');" title="还原修改前的图片" class="file">
							撤销修改
							</a>
											<span class="lbl">&nbsp;&nbsp;上传前先用PS处理成等比例图片后上传，默认比例100*70、600*420、800*560像素<br />
</span>
						</div>
					</div>
					<div class="space-4"></div>

					<input name="news_pic_type"  id="news_pic_list"  type="hidden" class="ace" value="1"/>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否审核： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name='news_open' id='news_open' {if condition="$news_list['news_open'] eq 1"}checked{/if}  value='1' class='ace ace-switch ace-switch-4 btn-flat' type='checkbox' />
							<span class="lbl">&nbsp;&nbsp;默认关闭</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 排序（从小到大）： </label>
						<div class="col-sm-10">
							<input type="text" name="listorder" value="{$news_list['listorder']|default=50}" class="col-xs-10 col-sm-1" />
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 显示日期：  </label>
						<div class="col-sm-10">
							<input name="showdate" class="date-picker col-xs-10 col-sm-6" value="{$news_extra['showdate']|date='Y-m-d',###}" type="text" data-date-format="yyyy-mm-dd">
							<span class="lbl">&nbsp;&nbsp;默认为文章添加日期</span>
						</div>
					</div>
					<div class="space-4"></div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章简介： </label>
						<div class="col-sm-9">
							<input type="text" name="news_scontent" id="news_scontent" class="col-xs-10 col-sm-10"  maxlength="100" value="{$news_list.news_scontent}"  placeholder="输入文章简介"  />
							<label class="input_last">已限制在100个字以内</label>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章主内容 </label>
						<div class="col-sm-10">
							<script src="__PUBLIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
							<script src="__PUBLIC__/ueditor/ueditor.all.js" type="text/javascript"></script>
							<textarea name="news_content" rows="100%" style="width:100%" id="myEditor">{$news_list.news_content}</textarea>
							<script type="text/javascript">
								var editor = new UE.ui.Editor();
								editor.render("myEditor");
							</script>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</div>	
			</form>
		</div>
	</div>
{/block}
{block name="scripts"}
	<script>
		$('.date-picker').datepicker({
				autoclose: true,
				todayHighlight: true,
				language:'zh-CN',
			})
	</script>
	<script>
$("#news_columnid").change(function(){
var news_columnid = $(this).val(); //获取切换的类别的id
if (news_columnid==""){
document.getElementById("vicectrl").style.display="none";
return;
}
 $.post("{:url('admin/LearnList/catmenu_list')}","news_columnid="+news_columnid,function(data){
$("#news_columnviceid").empty();
document.getElementById("vicectrl").style.display="inline";
var count = data.length;
if (count==0){
document.getElementById("vicectrl").style.display="none";
return;
}else{
var i = 0;
var b="";
b+="<option value=''>请选择所属类目</option>";
for(i=0;i<count;i++){
b+="<option value='"+data[i].id+"'>"+data[i].menu_name+"</option>";
}
$("#news_columnviceid").append(b);
}
});
});
</script>
{/block}
