<ul class="w-nav" navstyle="style5">
    <li class="w-nav-inner" style="height:70px;line-height:70px;width:16.6666666666667%;">
        <div class="w-nav-item">
            <a href="/" target="_self" class="w-nav-item-link">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">首页</span>
            </a>
            <a href="/" target="_self" class="w-nav-item-link hover">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">首页</span>
            </a>
        </div>
    </li>
    <li class="w-nav-inner" style="height:70px;line-height:70px;width:16.6666666666667%;">
        <div class="w-nav-item">
            <a href="{:url('home/index/company_info')}" target="_self" class="w-nav-item-link">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">公司介绍</span>
            </a>
            <a href="{:url('home/index/company_info')}" target="_self" class="w-nav-item-link hover">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">公司介绍</span>
            </a>
        </div>
    </li>
    <li class="w-nav-inner" style="height:70px;line-height:70px;width:16.6666666666667%;">
        <div class="w-nav-item">
            <a href="{:url('home/index/product')}" target="_self" class="w-nav-item-link">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">产品服务</span>
            </a>
            <a href="{:url('home/index/product')}" target="_self" class="w-nav-item-link hover">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">产品服务</span>
            </a>
        </div>
    </li>
    <li class="w-nav-inner" style="height:70px;line-height:70px;width:16.6666666666667%;">
        <div class="w-nav-item">
            <a href="{:url('home/index/download')}" target="_self" class="w-nav-item-link">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">软件下载</span>
            </a>
            <a href="{:url('home/index/download')}" target="_self" class="w-nav-item-link hover">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">软件下载</span>
            </a>
        </div>
    </li>
    <li class="w-nav-inner" style="height:70px;line-height:70px;width:16.6666666666667%;">
        <div class="w-nav-item">
            <a href="{:url('home/index/reg')}" target="_blank" class="w-nav-item-link">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">开户交易</span>
            </a>
            <a href="{:url('home/index/reg')}" target="_blank" class="w-nav-item-link hover">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">开户交易</span>
            </a>
        </div>
    </li>
    <li class="w-nav-inner" style="height:70px;line-height:70px;width:16.6666666666667%;">
        <div class="w-nav-item">
            <a href="{:url('home/index/about')}" target="_self" class="w-nav-item-link">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">联系我们</span>
            </a>
            <a href="{:url('home/index/about')}" target="_self" class="w-nav-item-link hover">
                <span class="mw-iconfont"></span>
                <span class="w-link-txt">联系我们</span>
            </a>
        </div>
    </li>

</ul>