{extend name="base/base" /}
{block name="content"}
<div class="panel admin-panel">
<div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 添加用户 </strong></div>
                                                                                          <div class="body-content">
<form method="post" class="form-x" action="#">

    <div class="form-group">
        <div class="label">
            <label>所属提车档位：</label>
        </div>
        <div class="field">
            <select name="lid" class="input w50">
                <option value="">请选择所属提车档位</option>
                {volist name="cate" id="jun"}
                <option value="{$jun.id}">{$jun.lname}</option>
                {/volist}
            </select>
            <div class="tips"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <label>用户账号 ：</label>
        </div>
        <div class="field">
            <input type="text" class="input w50" style="width:50%" name="username" required value="" />
            <div class="tips"></div>
        </div>
    </div>

<div class="form-group">
        <div class="label">
        <label>用户姓名 ：</label>
                     </div>
               <div class="field">
<input type="text" class="input w50" style="width:50%" name="truename" required value="" />
<div class="tips"></div>
                    </div>
</div>

    <div class="form-group">
    <div class="label">
        <label>手机号 ：</label>
    </div>
    <div class="field">
        <input type="text" class="input w50" style="width:50%" required name="mobile" value="" />
        <div class="tips"></div>
    </div>
                      </div>

    <div class="form-group">
        <div class="label">
            <label>密码 ：</label>
        </div>
        <div class="field">
            <input type="text" class="input w50" style="width:50%" required name="pass" value="123456" />
            <div class="tips"></div>
        </div>
    </div>

    <div class="form-group">
<div class="label">
<label></label>
         </div>
           <div class="field">
               <input type="hidden" id="submit_url" value="/admin/user/do_add_user.html">
<button class="button bg-main icon-check-square-o" type="submit"> 提交 </button>

</div>
  </div>
    </form>
      </div>
        </div>
          {/block}