<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>逸信国际-首页</title>
  <link rel="stylesheet" href="__static__/css/style.css">
  <link rel="stylesheet" href="__static__/css/animation.css">
</head>
<body>
  <!-- 头部 -->
  {include file="theme/mobile_view/template/public/header.html"}
  <!-- banner -->
  <div class="banner">
    <img src="__static__/img/banner.jpg" alt="">
  </div>
  <!-- 媒体 -->
  <div class="media">
    <div class="title">國內合作媒體單位</div>
    <div class="list">
      <ul>
        <li><img src="__static__/img/media02.png" alt=""></li>
        <li><img src="__static__/img/media05.png" alt=""></li>
        <li><img src="__static__/img/media03.png" alt=""></li>
        <li><img src="__static__/img/media04.png" alt=""></li>
        <li><img src="__static__/img/media01.png" alt=""></li>
        <li><img src="__static__/img/media06.png" alt=""></li>
        <li><img src="__static__/img/media07.png" alt=""></li>
        <li><img src="__static__/img/media08.png" alt=""></li>
        <li><img src="__static__/img/media09.png" alt=""></li>
      </ul>
    </div>
    <div class="more">
      <span>展开更多</span>
      <i class="iconfont">&#xe661;</i>
    </div>
  </div>
  <!-- clear -->
  <div class="clear-1vw"></div>
  <!-- 系统 -->
  <div class="system">
    <div class="btn-left"></div>
    <div class="btn-right"></div>
    <ul>
      <li>
        <div class="img"><img src="__static__/img/system.png" alt=""></div>
        <div class="tit">逸信交易管理系統</div>
        <div class="text">
          逸信交易管理系統是專門面向機構
          客戶推出的高效、穩定、專業的交易管理系統。系統是
          以實現對機構的多個期貨資金帳戶及其子帳戶進行統一
          管理，集即時開戶、自動出入金、雲端風控和傭金自動
          結算等功能為一體的企業級期貨交易系統軟體產品。
        </div>
      </li>
      <li>
        <div class="img"><img src="__static__/img/system.png" alt=""></div>
        <div class="tit">逸信交易風控系統</div>
        <div class="text">
          逸信風控系統具有靈活多樣的設置，可設定分帳戶的基礎交易許可權、品種及交易數量許可權、資金指標風控、定時倉位控制等。系統還有極具特色的雲端風控的特色，雲端即時監控子帳戶風控指標，自動執行事前、事後風控動作；分帳戶風控、許可權指標、出入金設置即時生效。
        </div>
      </li>
      <li>
        <div class="img"><img src="__static__/img/system.png" alt=""></div>
        <div class="tit">逸信PC行情交易終端</div>
        <div class="text">
          逸信PC交易終端包含了分時與K線圖行情、個性化下單板和行情交易設置。其中行情包含了自選、報價、分時圖、K線圖和從秒到小時，到日、周、月、季和年的合約K線走勢圖；個性化下單板則有兩鍵、三鍵和通用下單可供選擇
        </div>
      </li>
    </ul>
  </div>
  <!-- clear -->
  <div class="clear-1vw"></div>
  <div class="we">
    <div class="top">
      <div class="tit">為什麽選擇我們</div>
      <div class="img"><img src="__static__/img/we.jpg" alt=""></div>
    </div>
    <div class="bottom">
      <div class="left-menu">
        <ul>
          <li class="on">
            <i class="i-left"></i>
            <i class="i-bottom"></i>
            <i class="iconfont">&#xe6e3;</i>
            <span>平臺穩定</span>
          </li>
          <li>
            <i class="i-left"></i>
            <i class="i-bottom"></i>
            <i class="iconfont">&#xe77c;</i>
            <span>資金安全</span>
          </li>
          <li>
            <i class="i-left"></i>
            <i class="i-bottom"></i>
            <i class="iconfont">&#xe70e;</i>
            <span>技術頂尖</span>
          </li>
          <li>
            <i class="i-left"></i>
            <i class="i-bottom"></i>
            <i class="iconfont">&#xe721;</i>
            <span>品種多元</span>
          </li>
          <li>
            <i class="i-left"></i>
            <i class="i-bottom"></i>
            <i class="iconfont">&#xe6f8;</i>
            <span>超低成本</span>
          </li>
          <li>
            <i class="i-left"></i>
            <i class="i-bottom"></i>
            <i class="iconfont">&#xe7f0;</i>
            <span>優質服務</span>
          </li>
        </ul>
      </div>
      <div class="right-con">
        <ul>
          <li class="show">
            獨立的銀行級服務器，所有的交易數據由香港證券公司完全對沖到國際市場，受香港證監會監管。
          </li>
          <li>
            資金銀行三方監管、客戶資金全部隔離保存於幾大國有銀行。電腦PC端出入金。電腦PC端、安卓及蘋果手機軟件均可在線查看出入金歷史。兼顧客戶對資金安全性和便利性的要求。
          </li>
          <li>
            高效、稳定、专业的交易软件，包含分时与K线图行情、个性化下单板和行情交易设置
          </li>
          <li>
            可投资产品品种更多，容易找准适合自己的投资方向。包括能源、农产品、金属、外汇、股指等期货投资产品
          </li>
          <li>
            无点差、无隔夜费用、低保证金、低交易成本、固定汇率
          </li>
          <li>
            二维码秒开户，免费提供独立的行情分析软件，一对一后期服务
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- clear -->
  <div class="clear-1vw"></div>
  <div class="news">
    <div class="menu">
      <a class="on">财经新闻<i></i></a>
      <a>企业公告<i></i></a>
    </div>
    <div class="con">
      <ul>
        <li class="show">

          {volist name="$news" id="vo"}
          <a href="{:url('mobile/index/show_news',array('id'=>$vo.id))}">
            <div class="text">
              <p class="tit">{$vo.title}</p>
              <p><span>日期：{:date('Y-m-d',$vo.update_time)}</span><span>阅读量：{$vo.hits}</span></p>
            </div>
            <div class="img"><img src="{$vo.img}" alt=""></div>
          </a>
          {/volist}
          <!--
          <a>
            <div class="text">
              <p class="tit">提高期货散户存活率的不二要诀：构建合适的交易框架</p>
              <p><span>日期：2018-04-16</span><span>阅读量：109</span></p>
            </div>
            <div class="img"><img src="__static__/img/news02.jpg" alt=""></div>
          </a>
          <a>
            <div class="text">
              <p class="tit">国债期货全面转红，是慢牛开始，还是熊市反弹？</p>
              <p><span>日期：2018-04-16</span><span>阅读量：109</span></p>
            </div>
            <div class="img"><img src="__static__/img/news03.jpg" alt=""></div>
          </a>
          <a>
            <div class="text">
              <p class="tit">不要被同一块石头绊倒多次</p>
              <p><span>日期：2018-04-16</span><span>阅读量：109</span></p>
            </div>
            <div class="img"><img src="__static__/img/news04.jpg" alt=""></div>
          </a>
          -->

        </li>
        <li>

          {volist name="$news1" id="vo"}
          <a href="{:url('mobile/index/show_news',array('id'=>$vo.id))}">
            <div class="text">
              <p class="tit">{$vo.title}</p>
              <p><span>日期：{:date('Y-m-d',$vo.update_time)}</span><span>阅读量：{$vo.hits}</span></p>
            </div>
            <div class="img"><img src="{$vo.img}" alt=""></div>
          </a>
          {/volist}

          <!--
          <a>
            <div class="text">
              <p class="tit">提高期货散户存活率的不二要诀：构建合适的交易框架</p>
              <p><span>日期：2018-04-16</span><span>阅读量：109</span></p>
            </div>
            <div class="img"><img src="__static__/img/news02.jpg" alt=""></div>
          </a>
          <a>
            <div class="text">
              <p class="tit">国债期货全面转红，是慢牛开始，还是熊市反弹？</p>
              <p><span>日期：2018-04-16</span><span>阅读量：109</span></p>
            </div>
            <div class="img"><img src="__static__/img/news03.jpg" alt=""></div>
          </a>
          <a>
            <div class="text">
              <p class="tit">不要被同一块石头绊倒多次</p>
              <p><span>日期：2018-04-16</span><span>阅读量：109</span></p>
            </div>
            <div class="img"><img src="__static__/img/news04.jpg" alt=""></div>
          </a> -->

        </li>
      </ul>
    </div>
  </div>
  <!-- clear -->
  <div class="clear-1vw"></div>
  <div class="bank">
    <div class="title">合作银行</div>
    <div class="list">
      <ul>
        <li><img src="__static__/img/bank01.png" alt=""></li>
        <li><img src="__static__/img/bank02.png" alt=""></li>
        <li><img src="__static__/img/bank03.png" alt=""></li>
        <li><img src="__static__/img/bank04.png" alt=""></li>
        <li><img src="__static__/img/bank05.png" alt=""></li>
        <li><img src="__static__/img/bank06.png" alt=""></li>
      </ul>
    </div>
    <div class="more">
      <span>展开更多</span>
      <i class="iconfont">&#xe661;</i>
    </div>
  </div>
 {include file="theme/mobile_view/template/public/footer.html"}
  <div class="pop-bj"></div>
  <div class="index-key"></div>
  <script src="__static__/js/lp.js"></script>
</body>
</html>
