<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
		{include file="public:head" /}	
    <meta charset="utf-8">
    <title>{$menu.menu_seo_title|default=$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$menu.menu_seo_key|default=$site_seo_keywords}" />
    <meta name="description" content="{$menu.menu_seo_des|default=$site_seo_description}">
		
</head>
<div class="container-fluid">
			{include file="public:nav" /}
			<div onclick="check()" style="width: 100%;height: 400px;background-color:#1D1D1D; margin:0px;">
				<img src="{$yf_theme_path}public/images/631133268174329433.jpg" style="margin:0px;border:0px;height: 110%;width: 110%; ">
			</div>
<div class="row clearfix context">
	<div class="col-md-12 column">
		<div style="margin: 0 auto;min-width: 1100px;">
			<div style="width: 20%; height: 100%; float: left; ">
			{include file="public:leftslider"/}
			</div>
			<div style="width: 60%; height: 100%;margin-left:150px;float: left; ">
				<div class="friendly_links">
					<div class="inner">
						<div class="maincontent " style=" margin-left: 0px; width: 100%; float: left; color: #687177;">
						{if condition="$lang eq 'zh-cn'"}
							<p><br></p><div class="trading_page_top" style="margin-bottom: 10px; box-sizing: border-box; color: rgb(47, 39, 37); font-family: &quot;Century Gothic&quot;, &quot;Microsoft YaHei&quot;, 微软雅黑; white-space: normal;">
    <div class="inner" style="margin-right: auto; margin-left: auto; max-width: 965px; box-sizing: border-box;">
        <h3 style="margin-bottom: 25px; font-size: 24px; box-sizing: border-box; color: rgb(167, 30, 35);">
            外汇交易平台
        </h3>
        <p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; color: rgb(121, 121, 121); line-height: 1.5em;">
            Gannet 的MT4外汇交易账户，链接各种世界级外汇交易平台，但凡开市，即可随时随地交易外汇。
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; color: rgb(121, 121, 121); line-height: 1.5em;">
            我们为交易者提供可与忙碌的生活方式相对接的外汇交易平台。所有的Gannet交易平台均支持实时双向链接MT4，所有的MT4交易平台同步更新，意味着无论是用电脑通过客户端、浏览器、或是通过手机及iPad，均能够实时操作一切下单、平仓、挂单以及修改订单。
        </p>
    </div>
</div>
<div class="trading_page_list" style="box-sizing: border-box; overflow: hidden; font-family: &quot;Century Gothic&quot;, &quot;Microsoft YaHei&quot;, 微软雅黑; white-space: normal;">
    <div class="inner" style="margin-right: auto; margin-left: auto; max-width: 965px; box-sizing: border-box;">
        <div class="col-member" style="box-sizing: border-box; overflow: hidden;">
            <div class="item " style="margin-bottom: 10px; padding-left: 85px; box-sizing: border-box; position: relative; width: 463.188px; float: left;">
                <div class="trading_list_img" style="color: rgb(47, 39, 37); box-sizing: border-box; position: absolute; left: 0px; top: 0px;">
                    <a href="http://undefined/" style="color: rgb(168, 24, 27); outline-style: none; box-sizing: border-box;"><img width="63" height="63" src="{$yf_theme_path}public/images/icon_trading_platforms_01.png" class="attachment-full size-full" alt="icon_trading_platforms_01" style="border-width: 0px; border-style: initial; max-width: 100%; height: auto; box-sizing: border-box;"></a>
                </div>
                <div class="trading_list_text" style="box-sizing: border-box;">
                    <h4 style="color: rgb(44, 44, 44); font-size: 26px; box-sizing: border-box;">
                        PC版 MetaTrader 4
                    </h4>
                    <p style="color: rgb(121, 121, 121); margin-top: 0px; margin-bottom: 25px; box-sizing: border-box; font-size: 15px; line-height: 20px;">
                        在世界最流行的MT4交易平台尊享世界级交易体验
                    </p><span style="box-sizing: border-box;color:#ff0000"><a href="{:url('home/Listn/index',array('id'=>'28'))}" target="_blank">开始使用</a></span>
                </div>
            </div>
            <div class="item right" style="margin-bottom: 10px; padding-left: 85px; float: right; box-sizing: border-box; position: relative; width: 463.188px;">
                <div class="trading_list_img" style="color: rgb(47, 39, 37); box-sizing: border-box; position: absolute; left: 0px; top: 0px;">
                    <a href="http://undefined/" style="color: rgb(168, 24, 27); outline-style: none; box-sizing: border-box;"><img width="63" height="63" src="{$yf_theme_path}public/images/icon_trading_platforms_04.png" class="attachment-full size-full" alt="icon_trading_platforms_04" style="border-width: 0px; border-style: initial; max-width: 100%; height: auto; box-sizing: border-box;"></a>
                </div>
                <div class="trading_list_text" style="box-sizing: border-box;">
                    <h4 style="color: rgb(44, 44, 44); font-size: 26px; box-sizing: border-box;">
                        MT4网页交易平台
                    </h4>
                    <p style="color: rgb(121, 121, 121); margin-top: 0px; margin-bottom: 25px; box-sizing: border-box; font-size: 15px; line-height: 20px;">
                        在您无法下载安装客户端时，同样可以进行交易
                    </p><span style="box-sizing: border-box;color:#ff0000"><a href="{:url('home/Listn/index',array('id'=>'30'))}" target="_blank">开始使用</a></span>
                </div>
            </div>
        </div>
        <div class="col-member" style="box-sizing: border-box; overflow: hidden;">
            <div class="item " style="margin-bottom: 10px; padding-left: 85px; box-sizing: border-box; position: relative; width: 463.188px; float: left;">
                <div class="trading_list_img" style="color: rgb(47, 39, 37); box-sizing: border-box; position: absolute; left: 0px; top: 0px;">
                    <a href="http://undefined/" style="color: rgb(168, 24, 27); outline-style: none; box-sizing: border-box;"><img width="63" height="63" src="{$yf_theme_path}public/images/icon_trading_platforms_05.png" class="attachment-full size-full" alt="icon_trading_platforms_05" style="border-width: 0px; border-style: initial; max-width: 100%; height: auto; box-sizing: border-box;"></a>
                </div>
                <div class="trading_list_text" style="box-sizing: border-box;">
                    <h4 style="color: rgb(44, 44, 44); font-size: 26px; box-sizing: border-box;">
                        MT4移动客户端
                    </h4>
                    <p style="color: rgb(121, 121, 121); margin-top: 0px; margin-bottom: 25px; box-sizing: border-box; font-size: 15px; line-height: 20px;">
                        不论你在世界的哪一个角落，均可使用MT4手机客户端实时了解、交易外汇
                    </p><span style="box-sizing: border-box;color:#ff0000"><a href="{:url('home/Listn/index',array('id'=>'29'))}" target="_blank">开始使用</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
 {else /}
<p><br></p><div class="trading_page_top" style="margin-bottom: 10px; box-sizing: border-box; color: rgb(47, 39, 37); font-family: &quot;Century Gothic&quot;, &quot;Microsoft YaHei&quot;, 微软雅黑; white-space: normal;">
    <div class="inner" style="margin-right: auto; margin-left: auto; max-width: 965px; box-sizing: border-box;">
        <h3 style="margin-bottom: 25px; font-size: 24px; box-sizing: border-box; color: rgb(167, 30, 35);">
            Forex trading platform
        </h3>
        <p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; color: rgb(121, 121, 121); line-height: 1.5em;">
            Gannet's MT4 Forex trading account, linking a variety of world-class foreign exchange trading platform, whenever the market, you can trade foreign exchange anytime, anywhere.
        </p>
        <p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; color: rgb(121, 121, 121); line-height: 1.5em;">
            We provide traders with a Forex trading platform that can be compared with a busy lifestyle. All Gannet trading platforms support real-time bidirectional links MT4, all MT4 trading platform synchronization update, means that whether using a computer through the client, browser, or through mobile phones and iPad, are able to operate in real time all orders, positions , Pending orders and modify orders.
        </p>
    </div>
</div>
<div class="trading_page_list" style="box-sizing: border-box; overflow: hidden; font-family: &quot;Century Gothic&quot;, &quot;Microsoft YaHei&quot;, 微软雅黑; white-space: normal;">
    <div class="inner" style="margin-right: auto; margin-left: auto; max-width: 965px; box-sizing: border-box;">
        <div class="col-member" style="box-sizing: border-box; overflow: hidden;">
            <div class="item " style="margin-bottom: 10px; padding-left: 85px; box-sizing: border-box; position: relative; width: 463.188px; float: left;">
                <div class="trading_list_img" style="color: rgb(47, 39, 37); box-sizing: border-box; position: absolute; left: 0px; top: 0px;">
                    <a href="http://undefined/" style="color: rgb(168, 24, 27); outline-style: none; box-sizing: border-box;"><img width="63" height="63" src="{$yf_theme_path}public/images/icon_trading_platforms_01.png" class="attachment-full size-full" alt="icon_trading_platforms_01" style="border-width: 0px; border-style: initial; max-width: 100%; height: auto; box-sizing: border-box;"></a>
                </div>
                <div class="trading_list_text" style="box-sizing: border-box;">
                    <h4 style="color: rgb(44, 44, 44); font-size: 26px; box-sizing: border-box;">
                        PC version of MetaTrader 4
                    </h4>
                    <p style="color: rgb(121, 121, 121); margin-top: 0px; margin-bottom: 25px; box-sizing: border-box; font-size: 15px; line-height: 20px;">
                        Enjoy world-class trading experience in the world's most popular MT4 trading platform
                    </p><span style="box-sizing: border-box;color:#ff0000"><a href="{:url('home/Listn/index',array('id'=>'28'))}" target="_blank">Start using</a></span>
                </div>
            </div>
            <div class="item right" style="margin-bottom: 10px; padding-left: 85px; float: right; box-sizing: border-box; position: relative; width: 463.188px;">
                <div class="trading_list_img" style="color: rgb(47, 39, 37); box-sizing: border-box; position: absolute; left: 0px; top: 0px;">
                    <a href="http://undefined/" style="color: rgb(168, 24, 27); outline-style: none; box-sizing: border-box;"><img width="63" height="63" src="{$yf_theme_path}public/images/icon_trading_platforms_04.png" class="attachment-full size-full" alt="icon_trading_platforms_04" style="border-width: 0px; border-style: initial; max-width: 100%; height: auto; box-sizing: border-box;"></a>
                </div>
                <div class="trading_list_text" style="box-sizing: border-box;">
                    <h4 style="color: rgb(44, 44, 44); font-size: 26px; box-sizing: border-box;">
                        MT4 web trading platform
                    </h4>
                    <p style="color: rgb(121, 121, 121); margin-top: 0px; margin-bottom: 25px; box-sizing: border-box; font-size: 15px; line-height: 20px;">
                        When you can not download and install the client, the same can be traded
                    </p><span style="box-sizing: border-box;color:#ff0000"><a href="{:url('home/Listn/index',array('id'=>'30'))}" target="_blank">Start using</a></span>
                </div>
            </div>
        </div>
        <div class="col-member" style="box-sizing: border-box; overflow: hidden;">
            <div class="item " style="margin-bottom: 10px; padding-left: 85px; box-sizing: border-box; position: relative; width: 463.188px; float: left;">
                <div class="trading_list_img" style="color: rgb(47, 39, 37); box-sizing: border-box; position: absolute; left: 0px; top: 0px;">
                    <a href="http://undefined/" style="color: rgb(168, 24, 27); outline-style: none; box-sizing: border-box;"><img width="63" height="63" src="{$yf_theme_path}public/images/icon_trading_platforms_05.png" class="attachment-full size-full" alt="icon_trading_platforms_05" style="border-width: 0px; border-style: initial; max-width: 100%; height: auto; box-sizing: border-box;"></a>
                </div>
                <div class="trading_list_text" style="box-sizing: border-box;">
                    <h4 style="color: rgb(44, 44, 44); font-size: 26px; box-sizing: border-box;">
                        MT4 mobile client
                    </h4>
                    <p style="color: rgb(121, 121, 121); margin-top: 0px; margin-bottom: 25px; box-sizing: border-box; font-size: 15px; line-height: 20px;">
                        No matter where you are in the world, you can use MT4 mobile client real-time understanding, trading foreign exchange
                    </p><span style="box-sizing: border-box;color:#ff0000"><a href="{:url('home/Listn/index',array('id'=>'29'))}" target="_blank">Start using</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

 {/if}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{include file="public:footer" /}
</body>
</html>