<header>
    <div class="logo">
        <a href="/mobile" style="display:block">
        <img src="__static__/img/logo.gif" alt="">
        </a>
    </div>
    <div class="menu">
        <a>
            <i class="iconfont">&#xe790;</i>
            <span>MENU</span>
        </a>
        <div class="menu-pop">
            <a href="/mobile">首頁</a>
            <a href="{:url('mobile/index/company_info')}">公司介紹</a>
            <a href="{:url('mobile/index/product')}">產品服務</a>
            <a href="{:url('mobile/index/download')}">軟件下載</a>
            <a href="{:url('mobile/index/reg')}">開戶交易</a>
            <a href="{:url('mobile/index/about')}">聯系我們</a>
        </div>
    </div>
</header>